<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotino">
  <!-- Include files -->
    <xacro:include filename="$(find robotino_description)/urdf/robotino_hardware.xacro"/>
    <xacro:include filename="$(find robotino_description)/urdf/robotino_body.xacro"/>
   <robotino_body />
</robot>
